.history::before {
  content: attr(data-year) '/' attr(data-month) '/' attr(data-day) ' ' attr(data-hour) ':' attr(data-minute) ':' attr(data-seconds) ' '
    attr(data-records);
  cursor: pointer;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $theme-yellow;

  pointer-events: auto;
}
