*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  color: inherit;
  background-color: inherit;
}

svg,
img,
video {
  width: 100%;
  height: 100%;
}

svg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 4rem;
  aspect-ratio: 1;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  appearance: none;
}

li {
  list-style-type: none;
}

::-webkit-scrollbar {
  cursor: default;
  background-color: #606060;
  height: 0.8rem;
  width: 0.5rem;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #8f8f8f;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color: #9c9c9c;
}

html {
  height: 100%;
  font-size: 0.5rem;
}
@media (min-width: 576px) {
  html {
    font-size: 0.625rem;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 0.75rem;
  }
}

body {
  height: 100%;
  background-color: #303030;
  color: #e0e0e0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

main.main {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
main.main [class$=__date]::before {
  content: attr(data-year) " / " attr(data-month) " / " attr(data-day);
}
main.main [class*="__time "]::before,
main.main [class$=__time]::before {
  content: attr(data-hour) ":" attr(data-minute) ":" attr(data-seconds);
}
main.main section.main__cronometer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: #404040;
  border-radius: 0.5rem;
  overflow: auto;
}
main.main .cronometer__status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
  text-transform: capitalize;
  color: #ffe881;
}
main.main .cronometer__status .status__datetime,
main.main .cronometer__status .status__durations {
  display: flex;
  gap: 1rem;
}
main.main .cronometer__status .status__datetime span,
main.main .cronometer__status .status__durations span {
  font-weight: bold;
}
main.main .cronometer__status .status__datetime {
  font-size: 2.5rem;
  color: #a0a0a0;
}
main.main .cronometer__status .total__time {
  color: #8efe6f;
}
main.main .cronometer__status .today__time {
  color: #ff9059;
}
main.main .cronometer__status .current__time {
  color: #b1dbff;
}
main.main .cronometer__history {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #2a2a2a;
}
main.main .cronometer__history .history__record:nth-child(1) .record__button {
  cursor: pointer;
}
main.main .cronometer__history .history__record:nth-child(1) .record__button.play {
  fill: #8efe6f;
}
main.main .cronometer__history .history__record:nth-child(1) .record__button.stop {
  fill: #f45757;
}
main.main .history__record {
  color: #ffe881;
}
main.main .history__record .record__header {
  display: flex;
  align-items: center;
  background-color: #505050;
}
main.main .history__record .record__button {
  fill: #808080;
}
main.main .history__record .record__button use {
  display: none;
}
main.main .history__record .record__button.play use:nth-of-type(1) {
  display: block;
}
main.main .history__record .record__button.stop use:nth-of-type(2) {
  display: block;
}
main.main .history__record .record__indicator {
  position: relative;
  flex: 1;
  width: 100%;
  height: 4rem;
  display: flex;
  background-color: #303030;
}
main.main .history__record .record__indicator .record__item {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #8fcbae;
}
main.main .history__record .record__date {
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
}
main.main .history__record .record__history {
  cursor: pointer;
  fill: #a0a0a0;
}
main.main .history__record .record__items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  max-height: 23.5rem;
  height: 0;
  scroll-snap-type: y mandatory;
  scrollbar-gutter: stable;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visiblity;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
main.main .history__record .record__items.show {
  height: auto;
  opacity: 1;
  visibility: visible;
  padding: 1rem 0.5rem 1rem 1rem;
  border: 1px solid #303030;
}
main.main .history__record .record__items .record__item {
  scroll-snap-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  text-align: center;
  background-color: #505050;
}
main.main .history__record .record__items .record__item .record__options {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main.main .history__record .record__items .record__item .record__options .option__remove {
  cursor: pointer;
  fill: #f45757;
  width: 2rem;
  padding: 0rem;
}
main.main .history__record .record__items .record__item .start {
  color: #8efe6f;
}
main.main .history__record .record__items .record__item .end {
  color: #f45757;
}

/*# sourceMappingURL=styles.css.map */
