main.main {
  max-width: $max-width;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 2rem;

  // cronometer
  section.main__cronometer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  // container
  .cronometer__container {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 2rem $theme-gray-3 inset, 0 0 1rem $theme-gray-5;
    padding: 2rem 1rem;
    border-radius: 1rem;
  }

  // display
  .cronometer__display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
    font-size: 4rem;

    color: $theme-green;

    .date {
      font-size: 2rem;
      color: $theme-gray-9;
    }
  }

  // controls
  .cronometer__controls {
    display: flex;
    justify-content: center;
    gap: 5rem;
    border: 1px solid $theme-red;
    border-radius: 3rem;
    margin: 1rem auto;
    border-top: 0.2rem dashed $theme-gray-6;
    border-bottom: 0.2rem dashed $theme-gray-6;
    padding: 2rem 5rem;

    i {
      cursor: pointer;
      font-size: 3rem;
    }
  }

  // colors
  .fa-play {
    color: $theme-green;
  }

  .fa-pause {
    color: $theme-orange;
  }

  .fa-stop {
    color: $theme-red;
  }

  // history
  .cronometer__history {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 10rem $theme-gray-3 inset;
    padding: 2rem 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    overflow-y: scroll;
  }

  // item
  .history__item {
    display: flex;
    flex-direction: column;
    background-color: $theme-gray-3;
    border-radius: 1rem;

    box-shadow: 0 0 1rem $theme-gray-7;
  }

  // title
  .item__title {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    color: $theme-white;

    .date {
      color: $theme-green;
    }

    .time {
      color: $theme-orange;
    }

    .records {
      color: $theme-green;
    }
  }

  // list
  .history__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: all $transition-duration linear;

    // hidden
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    height: 0;
  }

  .history__list.active:not(:empty) {
    opacity: 1;
    visibility: visible;
    height: auto;
    padding: 0 1rem 1rem;
  }

  .list__columns span {
    display: inline-block;
    min-width: 12rem;
    text-align: center;
    text-transform: capitalize;
  }

  // items, columns
  .list__item,
  .list__columns {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: $theme-gray-2;
    padding: 1rem;
    border-radius: 0.5rem;

    .start {
      color: $theme-green;
    }

    .end {
      color: $theme-red;
    }

    .duration {
      color: $theme-cyan;
    }
  }
}
